<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="StartLatitude" value="48.6980"/>
    <add key="StartLongitude" value="35.4758"/>
    <add key="StartHeight" value="72"/>
    <add key="ObservationPointLatitude" value="48.6901"/>
    <add key="ObservationPointLongitude" value="35.4754"/>
    <add key="ObservationPointHeight" value="72"/>
    <add key="MaxValidLatitude" value="0.2"/>
    <add key="MaxValidLongitude" value="0.3"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
